# Ignore les dépendances Node.js
/node_modules
/vendor
/.env
Assets/js/prod.env.js
docker-compose.override.yml

#Fichier temporaire pour test PHP
/test

#Fichiers JavaScript générés
quickload.2c7c30cefc969c338160.js
locale.fr.9613c801c85939f37ad1.js
powerup.js

#Fichier de configuration sensible
configSecu.php

#Dossier d'image à ne pas envoyer sur le repo
/Assets/Documentation/Images/*
!/Assets/Documentation/Images/Logo-Bannière
!/Assets/Documentation/Images/gameurs
