@use "../../node_modules/bootstrap/scss/bootstrap" as *;
@forward "components/banner";
@forward "components/button";
@forward "components/card";
@forward "components/carrousel";
@forward "components/form";
@forward "components/loader";
@forward "components/messages";
@forward "components/scrollTop";
@forward "components/modal";
@forward "layout/body";
@forward "layout/footer";
@forward "layout/navbar";
@forward "layout/titles";
@forward "pages/events";
@forward "pages/home";

:root {
  font-size: 16px;
    --esportify-white: #fbf1ff;
    --esportify-blue: #36fef6;
    --esportify-green: #bffe88;
    --esportify-dark: #2e434a;
    --esportify-grey-75: #8d8e8e;
    --esportify-grey-50: #4d5152;
    --esportify-grey-25: #424546;
    --esportify-grey-5: #2b2e2f;
    --esportify-font-subtitles: "Rajdhani", sans-serif;
    --esportify-font-menus: "Orbitron", sans-serif;
    --esportify-font-texts: "Roboto", sans-serif;
    --esportify-text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    --esportify-box-shadow: 5px 0 20px rgba(196, 192, 192, 0.4);
    --transition-speed: 600ms;


    
    
    // --transition-speed: 0.3s ease;

  }