@use "../../node_modules/bootstrap/scss/bootstrap" as *;
@use "components/banner";
@use "components/button";
@use "components/card";
@use "components/loader";
@use "components/messages";
@use "components/scrollTop";
@use "layout/navbar";
@use "layout/body";
@use "layout/titles";
@use "pages/home";
@use "pages/events";


:root {
  font-size: 16px;
    --esportify-blue: #36fef6;
    --esportify-green: #bffe88;
    --esportify-dark: #2e434a;
    --esportify-grey-75: #8d8e8e;
    --esportify-grey-50: #4d5152;
    --esportify-grey-25: #424546;
    --esportify-grey-5: #2b2e2f;
    --esportify-white: #fbf1ff;
    --esportify-font-subtitles: "Rajdhani", sans-serif;
    --esportify-font-menus: "Orbitron", sans-serif;
    --esportify-font-texts: "Roboto", sans-serif;
    --esportify-text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    --esportify-box-shadow: 5px 0 20px rgba(196, 192, 192, 0.4);
    --transition-speed: 600ms;
  }