.bouton-connexion {
    background-color: var(--esportify-blue);
    border: 2px solid var(--esportify-green);
    text-align: center;
    box-shadow: inset -0.3rem -0.3rem 6px -1px var(--esportify-grey-75);
    border-radius: 1.5rem;
    color: var(--esportify-dark);
}

.bouton-create {
    background-color: var(--esportify-grey-75);
    border: 2px solid var(--esportify-green);
    text-align: center;
    box-shadow: inset -0.3rem -0.3rem 6px -1px var(--esportify-grey-50);
    border-radius: 1.5rem;
    color: var(--esportify-dark);
}

.bouton-mdp-oublie {
    background-color: var(--esportify-green);
    border: 2px solid var(--esportify-blue);
    text-align: center;
    box-shadow: inset -0.3rem -0.3rem 6px -1px var(--esportify-grey-75);
    border-radius: 1.5rem;
}

.texte-bouton {
    color: var(--esportify-dark);
    text-decoration: none;
    font-family: var(--esportify-font-menus);
}

.bouton-filtre {

}

.inscription {

}