.bouton-valider {
    background-color: var(--esportify-blue);
    border: 2px solid var(--esportify-green);
    text-align: center;
    color: var(--esportify-dark);
    font-family: var(--esportify-font-texts);
    box-shadow: inset -0.3rem -0.3rem 6px -1px var(--esportify-grey-75);
    border-radius: 1.5rem;
}

.bouton-supprimer {
    background-color: var(--esportify-green);
    border: 2px solid var(--esportify-blue);
    text-align: center;
    box-shadow: inset -0.3rem -0.3rem 6px -1px var(--esportify-grey-75);
    border-radius: 1.5rem;
    font-family: var(--esportify-font-texts);
    
}

.texte-bouton {
    color: var(--esportify-dark);
    text-decoration: none;
}

.bouton-filtre {

}

.bouton-annuler {
    background-color: var(--esportify-grey-75);
    border: 2px solid var(--esportify-green);
    text-align: center;
    box-shadow: inset -0.3rem -0.3rem 6px -1px var(--esportify-grey-25);
    border-radius: 1.5rem;
    font-family: var(--esportify-font-texts);
    
}

.inscription {

}