#eventModalContent {
    color: var(--esportify-white);
    font-family: var(--esportify-font-menus);
    background-color: var(--esportify-grey-50);
}

.titleModal {
    color: var(--esportify-white);
    font-family: var(--esportify-font-title);
    background-color: var(--esportify-grey-25);
}