* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
  body {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--esportify-grey-50);
    color: var(--esportify-white);
  }

  main {
    width: 100%;
    padding-top: 2rem;
  }