nav {
  font-family: var(--esportify-font-menus);
  background-color: var(--esportify-grey-5);
  box-shadow: var(--esportify-box-shadow);
}

.navbar-nav .nav-link,
.navbar-nav .nav-link svg,
.navbar-nav .nav-text,
.navbar-nav .nav-burger {
  color: var(--esportify-white);
}

.navbar {
  position: fixed;
  transition: var(--transition-speed);
  overflow: hidden;
}

.navbar-nav {
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--esportify-dark);
  color: var(--esportify-green);
}

.nav-text {
  display: none;
  margin-left: 0.5rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.color-first {
  color: var(--esportify-green);
}

.color-second {
  color: var(--esportify-blue);
}

.color-first,
.color-second {
  transition: var(--transition-speed);
}

.bi-search {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-left: 0.25rem;
}

.bi-search:hover {
  border-color: var(--esportify-blue);
}

input.form-control {
  background-color: var(--esportify-grey-75);
  color: var(--esportify-white);
  border: 1px solid var(--esportify-grey-75);
}

input.form-control:focus {
  background-color: var(--esportify-grey-50);
  border-color: var(--esportify-blue);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--esportify-grey-25);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.nav-burger {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;

}

.logo img {
  width: 2.5rem;
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    justify-content: space-between;
    overflow: hidden;
    display: flex;
  }

  .navbar.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
    max-height: 100vh;
    transition: var(--transition-speed);
    display: block;
  }

  .navabar.visible .navbar-nav {
    flex-direction: column;
    width: 8rem;
    height: auto;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .nav-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    margin-left: 5rem;
    left: 0px;
  }

  .nav-burger {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    margin-bottom: 1.5rem;
    z-index: 9999;
  }

  .navbar.visible .nav-burger {
    visibility: hidden;
  }

  .logo {
    visibility: hidden;
  }

  .navbar.visible .logo {
    visibility: visible;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-item {
    visibility: hidden;
  }

  .navbar.visible .nav-item {
    visibility: visible;
  }
}

@media only screen and (min-width: 601px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .nav-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    margin-left: 5rem;
    left: 0px;
  }

  .nav-burger {
    display: none;
  }
}