nav {
  font-family: var(--esportify-font-menus);
  background-color: var(--esportify-grey-5);
  box-shadow: var(--esportify-box-shadow);
  border: 2px solid blue;
}

ul {
  border: 2px solid yellow;
}

ul li,
ul li a,
ul li svg,
ul li a span{
  color: var(--esportify-white);
}

// .navbar-nav .nav-link,
// .navbar-nav .nav-link svg,
// .navbar-nav .nav-text,
// .navbar-nav .nav-burger {
//   color: var(--esportify-white);
// }

// .navbar {
//   position: fixed;
//   transition: var(--transition-speed);
//   overflow: hidden;
// }

.barreNav {
  position: fixed;
  transition: var(--transition-speed);
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

// .navbar-nav {
//   padding: 0;
//   margin: 0;
// }

.liItem {
  width: 100%;
  border: 2px solid red;
}

// .nav-item {
//   width: 100%;
//   border: 2px solid red;
// }

.liItem:last-child {
  margin-top: auto;
}

// .nav-item:last-child {
//   margin-top: auto;
// }

.myLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: var(--transition-speed);
}

// .nav-link {
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   filter: grayscale(100%) opacity(0.8);
//   transition: var(--transition-speed);
// }

.myLink:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--esportify-dark);
  color: var(--esportify-green);
}

// .nav-link:hover {
//   filter: grayscale(0%) opacity(1);
//   background: var(--esportify-dark);
//   color: var(--esportify-green);
// }

.mySpan {
  display: none;
  margin-left: 0.5rem;
}

// .nav-text {
//   display: none;
//   margin-left: 0.5rem;
// }

svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

// .nav-link svg {
//   width: 2rem;
//   min-width: 2rem;
//   margin: 0 1.5rem;
// }

.color-first {
  color: var(--esportify-green);
}

.color-second {
  color: var(--esportify-blue);
}

.color-first,
.color-second {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: var(--esportify-grey-25);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.myBurger {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;

}

.logo img {
  width: 2.5rem;
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

@media only screen and (max-width: 600px) {
  .barreNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    justify-content: space-between;
    overflow: hidden;
    display: flex;
  }

  .barreNav.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
    max-height: 100vh;
    transition: var(--transition-speed);
    display: block;
  }

  .barreNav.visible .navbar-nav {
    flex-direction: column;
    width: 8rem;
    height: auto;
  }

  .barreNav:hover {
    width: 16rem;
  }

  .barreNav:hover .nav-text {
    display: inline;
  }

  .barreNav:hover .logo-text {
    margin-left: 3rem;
    left: 0px;
  }

  .myBurger {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    margin-bottom: 1.5rem;
    z-index: 9999;
  }

  .barreNav.visible .nav-burger {
    visibility: hidden;
  }

  .logo {
    visibility: hidden;
  }

  .barreNav.visible .logo {
    visibility: visible;
  }

  ul {
    flex-direction: row;
  }

  .liItem {
    visibility: hidden;
  }

  .barreNav.visible .liItem {
    visibility: visible;
  }
}

@media only screen and (min-width: 601px) {
  .barreNav {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .barreNav:hover {
    width: 16rem;
  }

  .barreNav:hover .nav-text {
    display: inline;
  }

  .barreNav:hover .logo-text {
    margin-left: 3rem;
    left: 0px;
  }

  .myBurger {
    display: none;
  }
}