.sectionHaute {
    padding-left: 15vw;
}

.section-light {
    background-color: #ccc;
    min-height: 100vh;
    width: 100%;
    padding: 5rem 0;
    clip-path: ellipse(70% 100% at 50% 100%);
    
}

.titleEvent {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.events {
    z-index: 1;
}